*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{position: relative;}
.green_back{
    height: 15vh;
    width: 100%;
    background-color: #009688;
}
.gray_back{
    height: 85vh;
    width: 100%;
    background-color: #d8dbd7;
}

.container {
    position: absolute;
    top: 20px;
    left: 195px;
    height: 95vh;
    width: 80vw;
}
aside{width: 30%;}
img.avatar{
    padding: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.font_avatar>.fa-bell-slash {color: #8edafc;}
#attiva_notifiche {
    padding: 10px;
    height: 100px;
    background-color: #8edafc;
}

#attiva_notifiche>span.font_avatar {
    font-size: 40px;
    /* line-height: 120px; */
    vertical-align: 45px;
    height: 100px;
    background-color: #f2fbff;
    border-radius: 50%;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.info_bar_utente {
    vertical-align: 45px;
}
div.info_bar_utente { 
    display: inline-block;
    vertical-align: 45px;
}
aside>ul>li, .info_bar{
    border: 1px solid #fafafa;
    /* line-height: 120px; */
    list-style: none;
    height: 120px;
}
.search_inchat{height: 60px;}
.write_search{
    margin: 15px;
    height: calc(100% - 15px*2);
    width: calc(100% - 30px);
    border: none;
}
.info_chat{
    height: 120px;

}
.msg_view{
    position: absolute;
    top: auto;
    right: 0;
    height: calc(100% - (120px + 100px));
    width: 100%;
    background-image: url("../img/mine.jpg");
}
.write_chat {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100px;
        width: 100%;
        background-color: #f3eeea;

}
.msg_body {
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
}
span.emoji{
    display: inline-block;
    height: 100px;
    width: 100px;
    /* position: absolute;
    top: 0;
    left: 0; */
    margin: 15px;
    height: calc(100% - 15px*2);
}

.write_msg {
    border-radius: 5px;
    margin: 15px;
    height: calc(100% - 15px*2);
    width: calc(100% - 200px);
    border: none;
    /* position: absolute; */
}
.microphone{
    /* position: absolute;
    top: 0;
    right: 0; */
    margin: 15px;
    width: 100px;
    height: calc(100% - 15px*2);
}
.back_info_gray{background-color: #eaeaea;}
.back_aside_gray{background-color: #fafafa;}
.bg_white{background-color: #fafafa;}