*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{position: relative;}
.container{
    position:absolute;
    top: 20px;
    left: 195px;
    width: 80vw;
    height: 95vh;
    background-color:antiquewhite;
}
.d_flex{display: flex;}
.item{height: 100%;}
.green {
    background-color: #009688;
    width: 100%;
    height: 15vh;
} 
.gray {
    background-color: #d8dbd7;
    width: 100%;
    height: 85vh;
}
.search_color{background-color: #fafafa;}
.chat_color {background-color: #eaeaea;}
ul>li {list-style: none;}
/* Margin */
.m_left10{margin-left: 10px;}
.m_left20{margin: 20px;}

.m_right5{margin-right: 5px;}
.m_right15{margin-right: 15px;}
/* Padding */
.ptot_10{padding: 10px;}
.ptb_10{padding: 0 10px}
.ptb_5{padding: 0 5px;}

.aside_left{
    background-color: white;
    border-right: 1px solid #d6d6d6;
    flex-basis: 30%;
    flex-direction: column;
}
.my_name{
    justify-content: space-between;
    display: flex;
}
.img{align-self: center;}
.img>span>svg{
    width: 60px;
    height: 60px;
}
.img>span>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name_user{
    height: 30px;
    align-self: center;
}
.name_user>.name{
    line-height: 30px;
}

.options {
    align-self: center;
}
.options>span>svg{
    color: #b1b1b1;
}
.search_svg>svg {
    height: 25px;
    width: 18px;
}
.notifications{background-color: #8edafc;}
.img.bell{color: white;}
.testo_notifiche{align-self: center;}
small{
    text-decoration: underline;
    color: gray;
}

.search_chat{
    margin: 5px;
    border-radius: 40px;
    background-color: white;
}
.search_chat>input, .search_button {
    background-color: white;
    line-height: 2.5rem;
    color: #757575;
}
.search_chat>input{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 89%;
}
.search_button {
    padding-left: 15px;
    padding-right: 5px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
input:focus, button:focus, textarea:focus {outline: none;}
textarea,.search_chat>input, button{border: none;}
.chats{
    overflow-y:scroll;
    background-color: white;    
}
.border_chats{border-bottom: 1px solid #f5f5f5;}

.aside_right{
    flex-basis: calc(100% - 30%);
    flex-direction: column;
}

.user_boh{
    height: fit-content;
    align-self: center;
}
.last_access, .last_msg {
    text-decoration: none;
}
.msg_view {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
    width: 100%;
}
.in_message, .out_message{
    padding: 10px;
    float: left;
    width: 100%;
}
.in_message>div, .out_message>div{
    max-width: 50%;
    border-radius: 10px;
    background-color: #d5f9ba;
    padding:10px
}
.in_message>div{
    float: left;
    background-color: white;
}
.out_message>div{
    float: right;
}

.write_msg_bar{
    background-color: #f3eeea;
    justify-content: space-around;
}
.write_here, .emoji, .microphone {align-self: center;}
.write_here>textarea{
    width: 650px;
    height: 50px;
    resize: none;
    font-size: large;
    padding: 10px;
    border-radius: 15px;
}
.emoji>button>svg, .microphone>button>svg {
    height: 30px;
    width: 30px;
    background-color: #f3eeea;
    color: #6b7376;
}



/* DEBUGGING */
.h_w100{
    height: fit-content;
    min-height: 106px;
    width: 100%;
}


